* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: #2f4f4f;
    color: #fff;
    font-size: calc(16rem / 16);
}

header {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #fff;
}